body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  text-transform: uppercase;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
}

.part-logo {
  color: #4d5ae5;
}

.header-nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.header-nav a:hover,
.header-nav a:focus {
  color: #404bbf;
}

.contact a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  font-style: normal;
}

.contact a:hover,
.contact a:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
}

.order-service {
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.order-service:hover,
.order-service:focus {
  background: #404bbf;
}

.benefits {
  color: #ffffff;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

p {
  line-height: 1.5;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  color: #2e2f42;
}

.team {
  background: #f4f4fd;
}

.team-list li {
  width: 264px;
  height: 380px;
  text-align: center;
}

.portfolio-list li {
  width: 360px;
  height: 420px;
}

.footer {
  width: 1440px;
  height: 312px;
  background: #2e2f42;
}

.logo-foot {
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

footer p {
  color: #f4f4fd;
}
